<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title> Contato </title>
	<link rel="stylesheet" th:href="@{css/home.css}">
</head>

<body>
	<header>
  		<nav class="menu">
    			<ul>
    				<li> <a th:href="@{/}"> Home </a> </li>
              		<li> <a th:href="@{/esp22}"> Esperados de 2022 </a> </li>
             		<li> <a th:href="@{/esp23}"> Esperados de 2023 </a> </li>
             		<li> <a th:href="@{/equipe}"> Nossa equipe </a> </li>
           			<li> <a th:href="@{/contato}"> Contato </a> </li>
               	</ul>
        </nav>
  	</header>
  	
  	<h2> Contato </h2>
  	<p>
  		Mande uma mensagem.
  	</p>
  	
  	<form>
  		<fieldset>
  			<legend> Dados Pessoais </legend>
                <span class="obrigatorio"> * </span><label for="nome"> Nome: </label><br>
                <input type="text" name="nome" id="nome" size="200" maxlength="70" required
                placeholder=" Digite aqui "><br>

                <br>
                <span class="obrigatorio"> * </span><label for="email"> E-mail: </label><br>
                <i class="dica"> Escreva seu e-mail utilizando letras minúsculas, caracteres e números </i><br>
                <input type="text" name="email" id="email" size="30" maxlength="30" required
                placeholder=" nome.sobrenome@gmail.com "><br>

                <br>
                <span class="obrigatorio"> * </span><label for="assunto"> Assunto: </label><br>
                <i class="dica"> Dúvidas, curiosidades, reclamações, e afins. </i><br>
                <input type="text" name="assunto" id="assunto" size="20" maxlength="20" required
                placeholder=" Digite aqui "><br>
                
                <br>
                <span class="obrigatorio"> * </span><label for="mensagem"> Mensagem: </label><br>
                <textarea id="mensagem" name="mensagem" rows="3" cols="100" required
                placeholder=" Digite sua mensagem aqui "></textarea>

                <br>
                <input type="submit" Value="Enviar">
  		</fieldset>
  	</form>
  	
  	<br>
	<footer>
		<figure class="rodapé">
            <img width="150" height="70" src="./img/FATEC-RL.png" alt="Logo FATEC RL">
            <img width="280" height="70" src="./img/CPS-GovSP.png" alt="Logo CPS e Governo"><br>
        </figure>
        
		<p>
			Copyright © 2021 - Felipe, Leonardo, Thaylla
		</p>
	</footer>
</body>
