<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title> Esperados de 2023 </title>
	<link rel="stylesheet" th:href="@{css/home.css}">
</head>

<body>
	<header>
  		<nav>
    			<ul>
    				<li> <a th:href="@{/}"> Home </a> </li>
              		<li> <a th:href="@{/esp22}"> Esperados de 2022 </a> </li>
             		<li> <a th:href="@{/esp23}"> Esperados de 2023 </a> </li>
             		<li> <a th:href="@{/equipe}"> Nossa equipe </a> </li>
           			<li> <a th:href="@{/contato}"> Contato </a> </li>
               	</ul>
        </nav>
  	</header>
  	
  	<h2> Lista dos filmes mais aguardados de 2023 </h2>
  	
  	<ol>
  		<li> Wonka </li>
  		<li> A Pequena Sereia </li>
  		<li> Duna 2 </li>
  		<li> Guardiões da Galáxia Vol. 3 </li>
  		<li> Shazam 2 </li>
  		<li> A Freira 2 </li>
  		<li> A Orfã 2 </li>
  	</ol>
</body>
