<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title> Esperados de 2022 </title>
	<link rel="stylesheet" th:href="@{css/home.css}">
</head>

<body>
	<header>
  		<nav>
    			<ul>
    				<li> <a th:href="@{/}"> Home </a> </li>
              		<li> <a th:href="@{/esp22}"> Esperados de 2022 </a> </li>
             		<li> <a th:href="@{/esp23}"> Esperados de 2023 </a> </li>
             		<li> <a th:href="@{/equipe}"> Nossa equipe </a> </li>
           			<li> <a th:href="@{/contato}"> Contato </a> </li>
               	</ul>
        </nav>
  	</header>
  	
  	<h2> Lista dos filmes mais aguardados de 2022 </h2>
  	
  	<ol>
  		<li> Pânico </li>
  		<li> Halloween Ends </li>
  		<li> Uncharted </li>
  		<li> Doutor Estranho no Multiverso da Loucura </li>
  		<li> Adão Negro </li>
  		<li> Homem-Aranha no Aranhaverso 2 </li>
  		<li> Pantera Negra 2 </li>
  	</ol>
</body>
