<!DOCTYPE html>
<html xmlns:th="http>www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> Leonardo Yamashiro </title>
</head>

<body>
	<header>
  		<nav>
    		 	<ul>
    				<li> <a th:href="@{/}">Home</a> </li>
            			<li> <a th:href="@{/felipe}">Felipe Ursini</a> </li>
            			<li> <a th:href="@{/leonardo}">Leonardo Yamashiro</a> </li>
            			<li> <a th:href="@{/thaylla}">Thaylla Santana</a> </li>
           			<li> <a th:href="@{/contato}">Contato</a> </li>
         		</ul>
    		</nav>
	</header>
  	<h1> Desenvolvimento para Servidores I </h1>
	<h2> Trabalho de Java - Entrega 1 </h2>
</body>
</html>
